# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
dev

# Node dependencies
node_modules

# lock
package-lock.json
yarn.lock

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
# .env
# .env.*
# !.env.example
